<mat-toolbar color="primary">
  <div class="container position-relative">
    <a [style]="{color: 'white'}" [routerLink]="SHOP_ROUTE">КупиДевайс</a>
    <div *ngIf="auth.isAuthenticated(); else noAuth" class="position-absolute top-0 end-0">
      <a mat-button [routerLink]="ADMIN_ROUTE">Админ-панель</a>
      <a mat-button (click)="logout()">Выйти</a>
    </div>
  </div>
</mat-toolbar>
<ng-template #noAuth>
  <div class="position-absolute top-0 end-0">
    <a mat-button [routerLink]="LOGIN_ROUTE">Авторизация</a>
  </div>
</ng-template>
